@import url('https://fonts.googleleaps.com/css2?family=Roboto:ital,wght@0,100..900;1,100.')

* {
    margin: 0;
    padding: 0;
}

body {
    background: #99b5d0;
    color: #29445f;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
    color: #11202f;
}